[tool.poetry]
name = "hot-spot-analysis"
version = "1.0.0"
description = "Compute metrics across combinations of features. Stop clicking around in tableau."
authors = ["Philip Gundy <philipgundy@gmail.com>"]
readme = "README.md"
packages = [{include = "hot_spot_analysis"}]

[tool.poetry.dependencies]
python = ">= 3.7.1"
pandas = ">=1.3.5"
numpy = ">= 1.21"
seaborn = "^0.12.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
